@model ProductVM
<form method="post" enctype="multipart/form-data">
	<input asp-for="Product.Id" hidden></input>
	<input asp-for="Product.ImageUrl" hidden></input>
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4">
				<div class="row pb-2">
					<h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
					<hr />
				</div>
				<div asp-validation-summary="ModelOnly"></div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.Title" class="p-0"></label>
					<input asp-for="@Model.Product.Title" class="form-control" />
					<span asp-validation-for="@Model.Product.Title" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.Description" class="p-0 text-muted"></label>
					<textarea asp-for="@Model.Product.Description" class="form-control"></textarea>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.ISBN" class="p-0"></label>
					<input asp-for="@Model.Product.ISBN" class="form-control" />
					<span asp-validation-for="@Model.Product.ISBN" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.Author" class="p-0"></label>
					<input asp-for="@Model.Product.Author" class="form-control" />
					<span asp-validation-for="@Model.Product.Author" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.ListPrice" class="p-0"></label>
					<input asp-for="@Model.Product.ListPrice" class="form-control" />
					<span asp-validation-for="@Model.Product.ListPrice" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.Price" class="p-0"></label>
					<input asp-for="@Model.Product.Price" class="form-control" />
					<span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.Price50" class="p-0"></label>
					<input asp-for="@Model.Product.Price50" class="form-control" />
					<span asp-validation-for="@Model.Product.Price50" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.Price100" class="p-0"></label>
					<input asp-for="@Model.Product.Price100" class="form-control" />
					<span asp-validation-for="@Model.Product.Price100" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.CategoryId" class="p-0"></label>
					<select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
						<option disabled selected>--Select Category--</option>
					</select>
					<span asp-validation-for="@Model.Product.CategoryId" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="@Model.Product.ImageUrl" class="p-0"></label>
					<input type="file" name="file" class="form-control" />

				</div>
			</div>
		</div>
		<div class="col-2">
			<img src = "@Model.Product.ImageUrl" width="100%"
				style="border-radius: 5px;border:1px solid #bbb9b9"/>
		</div>
	</div>
	


		<div class="row">
			<div class="col-6 col-md-3">
				@if(Model.Product.Id != 0) 
				{
					<button type="submit" class="btn btn-primary form-control">Update</button>
				}
				else
				{
					<button type="submit" class="btn btn-primary form-control">Create</button>
				}
				
			</div>
			<div class="col-6 6 col-md-3">
				<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
					Back to List
				</a>
			</div>
		</div>


	</div>
</form>


@section Scripts {
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
		});
	</script>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}